body {
    background-color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 200px;
}

.container {
    background-color: yellowgreen;
    padding: 30px;
    margin: 150px;
    max-width: 300px;
}

h1 {
    color: brown;
    text-align: right;
}

h2 {
    color: darkgreen;
    border-bottom: 10px solid goldenrod;
    padding-bottom: 10px;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

.image-box {
    text-align: center;
    margin: 20px 0;
}

img {
    width: 1000px;
    border-radius: 25%;
    border: 10px solid rgb(51, 255, 0);
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: blueviolet;
}

a:hover {
    text-decoration: burlywood underline;
}